<a href="https://colab.research.google.com/github/nicholascfp/DSBD/blob/main/atividade_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

# Atividade final de Manipulação de Dados com Python
___

Atividade proposta:
1. Acesse e importe o arquivo titanic.csv ( [link do arquivo](https://www.kaggle.com/competitions/titanic/data) ) 
2. Faça uma descrição dos dados (tipo das variáveis, estatísticas básicas). `Obs: veja se há valores faltantes`
3. Faça um resumo do que foi a tragédia do titanic como se fosse apresentar o problema a alguém. Utilize imagens caso julgue necessário e tente explorar ao máximo o recurso de se trabalhar em um notebook (html e markdown).
4. Tente formular hipóteses e respondê-las através de gráficos e análises, ex:
  - O tipo de sexo do passageiro influenciou na sobrevivência?
  - A idade influenciou na sobrevivência?
  - O local de embarque tem relação com o preço da passagem?

Dica: O gráfico do tipo boxplot costuma ajudar muito em comparações de densidade; o gráfico de barras é uma opção ao compararmos número de algo em relação à divisão (sexo por exemplo).

Dica2: Tente procurar sobre a função sns.heatmap(), entenda seu uso e como isso poderia ser interessante em sua análise.

Dica 3: Tente renomear o nome das colunas para que fique mais legível, ex:
```python
dados['Embarked'] = dados['Embarked'].map({'C': 'Cherbourg', 
                                           'Q': 'Queenstown',
                                           'S': 'Southampton'})
```

## Dica

Ao realizar uma exploração de dados, é sempre importante criar um dicionário de dados. Desse modo, você economiza tempo tentando lembrar o que cada coisa significa, além deconseguir demonstrar mais facilmente para outras pessoas.

**Dicionário de dados**: <br>

> PassengerId: Número de identificação do passageiro <br>
Survived: Informa se o passageiro sobreviveu (0,1) <br>
Pclass: Classe do bilhete  <br>
Name: Nome do passageiro <br>
Sex: Sexo do passageiro <br>
Age: Idade do passageiro <br>
SibSp: Quantidade de cônjuges e irmãos a bordo <br>
Parch: Quantidade de pais e filhos a bordo <br>
Ticket: Número da passagem <br>
Fare: Preço da Passagem <br>
Cabin: Número da cabine em que se hospedou <br>
Embarked: Porto no qual o passageiro subiu a bordo. Separados em: C (Cherbourg), Q (Queenstown), S(Southampton) <br>

# Resolva

In [44]:
import pandas as pd

#!kaggle competitions download -c titanic 

df1, df2, df3 = pd.read_csv('gender_submission.csv'), pd.read_csv('test.csv'), pd.read_csv('train.csv')

df3['Embarked'] = df3['Embarked'].map({'C': 'Cherbourg', 
                                           'Q': 'Queenstown',
                                           'S': 'Southampton'})
# Elimannado dados NaN
#df3.duplicated().sum()
df3.isna().sum()
df3['Age'].fillna(method = 'pad', inplace = True)
df3['Cabin'].fillna(method = 'pad', inplace = True)
df3['Embarked'].fillna(method = 'pad', inplace = True)
df3 = df3.dropna()
print(df3.isna().sum())

len(df3)
#df3.describe()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

890