<a href="https://colab.research.google.com/github/nicholascfp/DSBD/blob/main/Tarefa_3_3_N%C3%ADcholas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

---
## Tarefa 3.3 - Análise Exploratória e Estatística Descritiva

Esta tarefa consiste em praticar a manipulação de um *dataframe* por meio da biblioteca Pandas e explorar por meio de métodos de descrição paramétrica (medidas estatísticas) o conjunto de dados *Hourly Wages*.

Você deve implementar em Python os itens solicitados abaixo utilizando a biblioteca Pandas e outras que forem necessárias. 

---



---

## Conjunto de dados *Hourly Wages*

Esse conjunto de dados é popularmente empregado para a tarefa de regressão em Machine Learning. Constrói-se e ajusta-se um modelo de aprendizado de máquina para predizer/estimar o salário de um funcionário em função de suas características (anos de estudos, experiência de trabalho, filiação sindical, região, ocupação e sexo). 

- Número de Instâncias: 534

- Número de Atributos: 9 atributos numéricos e o target (*wage_per_hour*)

- Informações dos Atributos:
  - union (filiação sindical)
  - education_yrs (anos de instrução)
  - experience_yrs (anos de experiência)
  - age (idade)
  - female (sexo)
  - marr (estado civil - casado)
  - south (região)
  - manufacturing (indústria)
  - construction (construção)

  
- Variável de destino (target): wage_per_hour

## Implementar os itens abaixo:

#### a-) Clonar o repositório de dados da disciplina (DSBD) hospedado no GitHUb.

In [1]:
!git clone "https://github.com/malegopc/DSBD"

Cloning into 'DSBD'...
remote: Enumerating objects: 362, done.
remote: Counting objects: 100% (362/362), done.
remote: Compressing objects: 100% (339/339), done.
remote: Total 362 (delta 166), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (362/362), 6.14 MiB | 5.14 MiB/s, done.
Resolving deltas: 100% (166/166), done.

#### b-) Ler o dataset "*Hourly_wages/hourly_wages.csv*" como dataframe utilizando a biblioteca Pandas e mostrar as 5 primeiras e as 5 últimas linhas do dataset.

In [2]:
# Import Libraries
import matplotlib.pyplot as plt
import seaborn as sbn
import numpy as np
import pandas as pd
import math as math
import statistics as stats

# Read Data Files
df = pd.read_csv('/content/DSBD/Datasets/Hourly_wages/hourly_wages.csv')
# Eliminate null lines
df = df.dropna()
# Show Data
df

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
529,11.36,0,18,5,29,0,0,0,0,0
530,6.10,0,12,33,51,1,1,0,0,0
531,23.25,1,17,25,48,1,1,0,0,0
532,19.88,1,12,13,31,0,1,1,0,0
533,15.38,0,16,33,55,0,1,0,1,0

#### c-) Verificar se há dados vazios (null) e imprimir o tipo de cada variável/atributo.

In [3]:
# Dataset Length
print('Dataset Length:')
n = len(df)
print(n)
# Show non-null Data Numbers
print('\nData Info:\n')
df.info()
# Null Data Numbers Sum
print('\nNull Data Numbers Sum:\n')
df.isnull().sum()

Dataset Length:
534

Data Info:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 534 entries, 0 to 533
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   wage_per_hour   534 non-null    float64
 1   union           534 non-null    int64
 2   education_yrs   534 non-null    int64
 3   experience_yrs  534 non-null    int64
 4   age             534 non-null    int64
 5   female          534 non-null    int64
 6   marr            534 non-null    int64
 7   south           534 non-null    int64
 8   manufacturing   534 non-null    int64
 9   construction    534 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 45.9 KB

Null Data Numbers Sum:

wage_per_hour     0
union             0
education_yrs     0
experience_yrs    0
age               0
female            0
marr              0
south             0
manufacturing     0
construction      0
dtype: int64

#### d-) Obter um resumo da estatística descritiva dos dados utilizando um único comando (função).

In [4]:
# Null Data Numbers Sum
print('\nDataset Descriptive Statistics Summary:\n')
df.describe()

Dataset Descriptive Statistics Summary:

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### e-) Calcule a proporção de funcionários de sexo masculino e feminino.

In [5]:
# Women Proportion
women = df['female'].values
wprop = (women.sum() / len(df)) * 100
print('Women Proportion:')
print(str(round(wprop, 2)) + '%\n')

# Men Proportion
men = len(df) - women.sum()
mprop= (men / len(df)) * 100
print('Men Proportion:')
print(str(round(mprop, 2)) + '%')

Women Proportion:
45.88%

Men Proportion:
54.12%

#### f-) Calcule a proporção de casados e solteiros.

In [6]:
# Married Proportion
married = df['marr'].values
mprop = (married.sum() / len(df)) * 100
print('Married Proportion:')
print(str(round(mprop, 2)) + '%\n')

# Single Proportion
single = len(df) - married.sum()
sprop= (single / len(df)) * 100
print('Single Proportion:')
print(str(round(sprop, 2)) + '%')

Married Proportion:
65.54%

Single Proportion:
34.46%

#### g-) Calcule a proporção de funcionários filiados ao sindicato (union).

In [7]:
# United Proportion
united = df['union'].values
uprop = (united.sum() / len(df)) * 100
print('United Proportion:')
print(str(round(uprop, 2)) + '%\n')

# Not United Proportion
nunited = len(df) - united.sum()
nprop= (nunited / len(df)) * 100
print('Not United Proportion:')
print(str(round(nprop, 2)) + '%')

United Proportion:
17.98%

Not United Proportion:
82.02%

#### h-) Calcule as medianas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [8]:
# Education Years Median
edymedian = np.median(df['education_yrs'])
print('Education Years Median:')
print(edymedian)

# Experience Years Median
exymedian = np.median(df['experience_yrs'])
print('\nExperience Years Median:')
print(exymedian)

# Age Median
amedian = np.median(df['age'])
print('\nAge Median:')
print(amedian)

Education Years Median:
12.0

Experience Years Median:
15.0

Age Median:
35.0

####i-) Calcule as modas de cada uma das variáveis: anos de educação, anos de experiência e idade.

In [9]:
# Education Years Mode
edymode = stats.mode(df['education_yrs'])
print('Education Years Mode:')
print(edymode)

# Experience Years Mode
exymode = stats.mode(df['experience_yrs'])
print('\nExperience Years Mode:')
print(exymode)

# Age Mode
amode = stats.mode(df['age'])
print('\nAge Mode:')
print(amode)

Education Years Mode:
12

Experience Years Mode:
14

Age Mode:
32

####j-) Calcule o percentil 90 da variável idade.

In [10]:
# Age -> Percentile 90
print('Age -> Percentile 90:')
np.percentile(df['age'], 90)

Age -> Percentile 90:

55.0

####k-) Calcule o percentil 10 da variável anos de experiência.

In [11]:
# Experience Years -> Percentile 10
print('Experience Years -> Percentile 10:')
np.percentile(df['experience_yrs'], 10)

Experience Years -> Percentile 10:

3.0

####l-) Determine qual atributo apresenta maior variabilidade dentre os atributos: anos de educação, anos de experiência e idade.

In [12]:
# Education Years
print('Education Years\n')
# Education Years Standard Sample Deviation
edystspdev = stats.stdev(df['education_yrs'])
print('Education Years Standard Sample Deviation:')
print(round(edystspdev, 4))
# Education Years Mean
edymean = np.mean(df['education_yrs'])
print('Education Years Mean:')
print(round(edymean, 4))
# Education Years Coefficient of Variation
edycv = round(((edystspdev / edymean) * 100), 2)
print('Education Years Coefficient of Variation:')
print(str(edycv) + '%')

# Experience Years
print('\nExperience Years')
# Experience Years Standard Sample Deviation
exystspdev = stats.stdev(df['experience_yrs'])
print('\nExperience Years Standard Sample Deviation:')
print(round(exystspdev, 4))
# Experience Years Mean
exymean = np.mean(df['experience_yrs'])
print('Experience Years Mean:')
print(round(exymean, 4))
# Experience Years Coefficient of Variation
exycv = round(((exystspdev / exymean) * 100), 2)
print('Experience Years Coefficient of Variation:')
print(str(exycv) + '%')

# Age
print('\nAge')
# Age Standard Sample Deviation
astspdev = stats.stdev(df['age'])
print('\nAge Standard Sample Deviation:')
print(round(astspdev, 4))
# Age Mean
amean = np.mean(df['age'])
print('Age Mean:')
print(round(amean, 4))
# Age Coefficient of Variation
acv = round(((astspdev / amean) * 100), 2)
print('Age Coefficient of Variation:')
print(str(acv) + '%')

# Greatest Coefficient of Variation Attribute
cvlist = [edycv, exycv, acv]
gtscv = round(max(cvlist), 2)
print('\nGreatest Coefficient of Variation Attribute:')
print(str(gtscv) + '%')

if gtscv == edycv:
  print('\nEducation Years has the greatest coefficient of variation!')
elif gtscv == exycv:
  print('\nExperience Years has the greatest coefficient of variation!')
elif gtscv == acv:
  print('\nAge has the greatest coefficient of variation!')

Education Years

Education Years Standard Sample Deviation:
2.6154
Education Years Mean:
13.0187
Education Years Coefficient of Variation:
20.09%

Experience Years

Experience Years Standard Sample Deviation:
12.3797
Experience Years Mean:
17.8221
Experience Years Coefficient of Variation:
69.46%

Age

Age Standard Sample Deviation:
11.7266
Age Mean:
36.8333
Age Coefficient of Variation:
31.84%

Greatest Coefficient of Variation Attribute:
69.46%

Experience Years has the greatest coefficient of variation!